body {
    background-color: #e6ecff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.title-group {
    border-bottom: 1px grey solid;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-bottom: 25px;
    text-align: center;
}

#title {
    margin: 0;
    padding-bottom: 10px;
}

p {
    margin: 0;
}


.container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 1px 1px 5px grey;
    margin: 30px auto;
    min-width: 300px;
    padding: 25px;
    width: 70%;
}

label {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

label > input[type="text"], input[type="email"], input[type="number"] {
    height: 30px;
    margin-left: 20px;
    max-width: 240px;
    padding-left: 10px;
    width: 50%;
}

select {
    height: 36px;
    max-width: 256px;
    margin-left: 20px;
    padding: 2px 10px;
    width: 50%;
}

#rating, #contact {
    margin: 20px 0;
}

.radio-group, .checkbox-group {
    display: flex;
    margin: 10px;
}

.radio-group > label {
    display: inline-block;
    margin: auto 0;
    text-align: center;
    width: 20%;
}

.checkbox-group > label {
    display: inline-block;
    margin: auto 0;
    text-align: center;
    width: 50%;
}

textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

input[type="submit"] {
    display: block;
    font-size: 20px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}