:root {
    --color-one: #454851;
    --color-two: #FFE9CE;;
    --color-three: #D81E5B;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-one);
    color: var(--color-two);
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    position: relative;
}

#welcome-section {
    height: 100vh;
    margin-top: 80px;
}

nav {
    position: fixed;
    top: 0;
    background-color: var(--color-one);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav > a {
    color: var(--color-two);
    padding: 0 20px;
    margin: auto 0;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

nav > a:hover {
    color: white;
}

#title-container {
    width: 80vw;
    margin: 0 auto;
}

#title-container > h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 96px;
}

#title-container > h1:nth-of-type(1) {
    margin: 0;
    padding: 0;
    margin: 50px 0px;
    padding-top: 20px;
}

.underline {
    border-bottom: 5px var(--color-three) solid;
}

.color {
    color: var(--color-three);
}

#tagline-container {
    background-color: var(--color-three);
    margin-top: 60px;
    padding: 6px 2px;
}

#tagline-container p {
    margin: 0;
    font-size: 24px;
}

#tagline-container a {
    color: var(--color-two);
}

#projects, #contact {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

#projects > h1, #contact > h1 {
    padding-top: 120px;
    font-size: 48px;
}

.project-tile {
    font-size: 40px;
}

.project-tile > a {
    color: var(--color-two);
}

@media (max-width: 768px) {
    #title-container > h1 {
        font-size: 48px;
    }
    .project-tile {
       font-size: 28px;
    }
    .underline {
        border-bottom: 3px var(--color-three) solid;
    }
}